* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    padding: 0 200px;
    background-color: black;
}


.sign-up-form {
    margin: 0 auto;
    display: flex;
    width: 75vw;
}

.logo {
    background-image: url("/image/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    width: 500px;
    height: 100vh;
    flex-shrink: 0;
    flex-grow: 1;
}

.form {
    width: calc(75vw-500px);
    height: 100vh;
    
    background-color: #f8f5f5;
    flex-grow: 1;
}

.header {
    padding: 100px 75px 10px 20px;
}

.description {
    margin-bottom: 20px;
}

.control-row {
    display: flex;
    justify-content: flex-start;
    
}

.control {
    display: flex;
    flex-direction: column;
}

input {
    appearance: none;
    border: 1px solid #E5E7EB;
    padding: 5px 10px;
}

.main {
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px #b3b0b0
}

.control-row div:first-child {
    margin-right: 50px;
}

.main > *:not(:last-child) {
    margin-bottom: 20px;
  }

label {
    font-weight: bold;
    color: #575656
}

.submit {
    padding: 20px 20px;
}

button {
    padding: 10px 30px;
    background-color: #596D48;
    color: #fcfcfc;
    border: 1px solid gray;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    transition: 100ms;
    margin-bottom: 20px;
}

button:hover {
    transform: scale(1.2);

}
  
input:focus {
    outline: none;
    border: 1px solid #2382b0;
    box-shadow: 2px 2px 4px #2382b0;
}

input:invalid {
    box-shadow: 2px 2px 4px red;
}

.log-in {
    text-decoration: none;
    font-weight: bold;
    color: #596D48;
}